<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      PAUL CRM
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/contacts/new">Add a Contact</a></li>
        <li><a href="/">About us</a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer> © Bitmaker 2017</footer>
  </body>
</html>
